body {
    background-image: url('mt.jpg');
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    overflow: hidden;
}


.car {
   text-align: right;
   padding: 10px 20px;
   border-bottom: 1px solid #ddd;
}

.car a {
    text-decoration: none;
    color: #f8f9fa;
    margin-left: 15px;
}

form {
    display: inline-block;
    text-align: left;
}

input[type="submit"],
button {
    display: inline-block;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #555555;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

.button {
    text-align: center;
}

#ind {
    text-align: center;
    margin-top: 200px; 

#indbar {
    width: 650px;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#fish {
    margin-top: 200px; 
    color: white;
}